/* General Styles */
body {
    font-family: 'Arial', sans-serif; /* Atau gunakan font yang mirip San Francisco */
    margin: 0;
    background-image: linear-gradient(to right, #a4b5c3, #eae0dc, #a4b5c3); /* Gradasi dari Tan ke Caput Mortuum */
  }
 
  header {
    background-color: #25344F;
    padding: 0 0 20px 0; 
    color: #eae0dc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 80px;
}

main {
  margin-top: 120px; 
}

.container {
    max-width: 1200px; /* Batasi lebar maksimum konten */
    margin: 0 auto; 
    padding: 0 20px; 
}


.logo img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
    border-radius: 45px;
}

.logo { /* Targetkan kelas .logo secara langsung */
    display: flex; /* Ubah .logo menjadi flex container */
    align-items: center; /* Pusatkan logo secara vertikal di dalam .logo */
  }

#main-header .container {
    display: flex;
    justify-content: space-between; /* Untuk meratakan logo ke kiri dan navigasi ke kanan */
    align-items: center; /* Untuk membuat logo dan tulisan sejajar secara vertikal */
  }
  
  #main-nav ul {
    list-style: none; /* Menghilangkan bullet point */
  margin: 0;
  padding: 0;
  display: flex; /* Mengubah tampilan menu menjadi flexbox */
  justify-content: center; /* Meratakan item menu ke tengah */
  width: 100%; /* Membuat navigasi memenuhi lebar container */
  }
  
  #main-nav li {
    margin: 0 10px; /* Memberi jarak antar item menu */
  }


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav li {
    display: inline-block; 
    margin: 0 15px; 
    position: relative; /* Tambahkan ini untuk memposisikan garis bawah */
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold; 
    display: inline-block; /* Agar garis bawah sesuai dengan lebar teks */
    padding-bottom: 5px; /* Tambahkan sedikit ruang di bawah teks untuk garis bawah */
}

nav a::after { /* Pseudo-element untuk membuat garis bawah */
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #617891; /* Warna biru */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Animasi transisi */
}

nav a:hover::after { 
    width: 100%; /* Lebar garis bawah menjadi 100% saat dihover */
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  border: #000;
}

h1 {
  font-family: 'Lora', serif;
}

/* Hero Section Styles */
.hero {
    background-color: #F2EAE2;
    text-align: center;
    border: 1px solid #ccc; /* Contoh: border hitam dengan ketebalan 2px */
    padding: 20px; /* Optional: tambahkan padding agar konten tidak terlalu mepet dengan border */
    border-radius: 20px; /* Tambahkan ini */
    width: 80%; /* Atur lebar section */
    margin: 0 auto; /* Berikan margin auto di kiri dan kanan */
    display: flex; /* Gunakan flexbox */
    flex-direction: column; /* Susun elemen anak secara vertikal */
    align-items: center; /* Pusatkan elemen anak secara horizontal */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px; /* Jarak 50px di bawah section hero */
  }

.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.description {
    text-align: justify;
}

.availability {
    color: #777;
    text-align: justify;
    margin-bottom: 0; 

}

.desk {
  margin-top: 0;
  color: #777;
  text-align: justify;
}

.nah {
  color: #777;
  text-align: justify;
}

.button {
    display: inline-block;
    background-color: #6F4D38; /* Coffee */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px; 
    margin: 0 10px; 
    transition: background-color 0.3s ease; /* Tambahkan transisi */
}

.button:hover {
    background-color: #d5b893; /* Ubah warna saat hover */
}

/* Features Section Styles */
.features {
    background-color: #F2EAE2;
    text-align: center;
    border: 1px solid #ccc; /* Contoh: border hitam dengan ketebalan 2px */
    padding: 20px; /* Optional: tambahkan padding agar konten tidak terlalu mepet dengan border */
    border-radius: 20px; /* Tambahkan ini */
    width: 80%; /* Atur lebar section */
    margin: 0 auto; /* Berikan margin auto di kiri dan kanan */
    display: flex; /* Gunakan flexbox */
    flex-direction: column; /* Susun elemen anak secara vertikal */
    align-items: center; /* Pusatkan elemen anak secara horizontal */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px; /* Jarak 50px di bawah section hero */
}

.feature {
    width: 48%; /* Dua kolom */
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.red-title {
    color: #ff3b30; /* Warna merah Apple */
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.blue-title {
    color: #007aff; /* Warna biru Apple */
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Footer Styles */
.footer {
    background-color: #000; 
    color: #fff; 
    padding: 15px 0; 
    text-align: center; 
    clear: both;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    height: 25px; /* Tambahkan ini untuk mengatur tinggi footer */
    display: flex; /* Tambahkan ini */
    align-items: center; /* Tambahkan ini */
    justify-content: center; /* Tambahkan ini */
  }
  
  .footer .container {
    max-width: 960px; 
  }
  
  .footer p {
    font-size: 12px; 
    line-height: 1.5;
    margin: 0; 
  }
  
  .footer a {
    color: #999;
    text-decoration: none; 
  }
/* cssutama.css */


.button {
    display: inline-block;
    background-color: #6F4D38; /* Coffee */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px; 
    margin: 0 10px; 
    transition: background-color 0.3s ease; /* Tambahkan transisi */
}

.button:hover {
    background-color: #d5b893; /* Ubah warna saat hover */
}

.fade-in {
    animation: fadeIn 1s ease-in-out; /* Durasi animasi 1 detik */
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  